:root {
  /* --color-primary: #37574c  ;

  --color-second: #76918a;
  --color-active: #b62f3f;
  --color-title: #3b3a3f;

  --color-content: #848484;
  --color-background: #ffffff;
  --color-nav : #bdbaba; */
  --font-nunito: "Nunito", sans-serif;
  --font-be: 'Be Vietnam', sans-serif;
  --font-mi: 'Mitr', sans-serif;
  --font-var: 'Varela Round', sans-serif;
  --font-vi: 'Great Vibes', cursive;
  /* --color-primary: #F34505; */
  --color-primary: #f55872;
  --color-active: #AA3004;
  --color-hover: #f98427;
  --color-title: #3b3a3f;
  --color-content: #848484;

}

* {
  box-sizing: inherit;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

svg * {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}
ul,
h3,
h6,
p {
  font-size: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  line-height: 1.8rem;
  box-sizing: border-box;
  font-family: var(--font-nunito);
  color: var(--color-title);
}

body {
  font-size: 1.6rem;
}
 

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.title {
 
  font-family: var(--font-be);
  color: var(--color-title);
  font-weight: 500;
  font-size: 4rem;

  margin: 9px 0 25px 0;
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.title__small{
  font-family: var(--font-vi);
  color: var(--color-title);
  font-weight: 600;
  font-size: 2.7rem;  
}


.btn {
  padding: 4px 14px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.171);
  transition: all 0.2s;
  font-family: var(--font-nunito);
  font-weight: bold;
  font-size: 1.8rem;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.btn--cart{
  padding: 4px 14px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.171);
  transition: all 0.2s;
  font-family: var(--font-nunito);
  font-weight: 500;
  font-size: 1.6rem;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.custom_cart{
  font-size: 23px;
}
/* btn primary */
.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
  border: 2px solid transparent;
  transition: all 0.2s ease-out;
}
.btn--primary:hover {
  background-color: #fff;
  transition: all 0.2s ease-out;
  color: var(--color-primary) !important;
  border: 2px solid var(--color-primary);
}
.btn--primary:active {

  box-shadow: 0 0 3px 2px #f5587279;
  background-color: #fff;
  color: var(--color-primary);

  transition: all 0.2s ease-out;
}
.btn--primary:focus {
  box-shadow: 0 0 3px 2px #f5587279;
  border: 2px solid var(--color-primary);

  background-color: #fff;
  color: var(--color-primary);
  transition: all 0.2s ease-out;

}

/* btn secondary */
.btn--secondary {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  transition: all 0.2s ease-out;
}
.btn--secondary:hover {
  color: #fff;
  background-color: var(--color-primary);
  transition: all 0.2s ease;
}
.btn--secondary:active {
  background-color: var(--color-primary);
  transition: all 0.2s ease-out;
}
.btn--secondary:focus {
  box-shadow: 0 0 3px 2px #f5587279;
  transition: all 0.2s ease-out;
}

.paging {
  display: flex;
  justify-content: center;
  top: 100%;
  left: 50%;

  margin: 30px 0 20px 0;
}
.paging .paging-item {
  margin-left: 5px;
}
.paging-item {
  width: 8px;
  height: 8px;
  border-radius: 50%;

  background: #c4c4c4;
  cursor: pointer;
}
.paging-item--active {
  width: 23px;
  height: 8px;
  left: 18px;

  background: #333333;
  border-radius: 47px;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line-clamp-6 {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* slider */
.slider {
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300%;
  position: relative;

  transition: all 1s ease-in-out;
}

/* color for arrow button */
.paging {
  display: flex;
  justify-content: center;
  top: 100%;
  left: 50%;

  margin: 30px 0 20px 0;
}
.paging .paging-item {
  margin-left: 5px;
}
.paging-item {
  width: 8px;
  height: 8px;
  border-radius: 50%;

  background: #c4c4c4;
  cursor: pointer;

  transform-origin: top left;
  transition: all 0.3s ease;
}
.paging-item--active {
  width: 23px;
  height: 8px;
  left: 18px;

  transition: all 0.3s ease;

  background: #333333;
  border-radius: 47px;
}

.paging-arrow {
  transition: all 0.2s ease-in;
  z-index: 10;
}
.paging-arrow > circle {
  fill: rgba(255, 255, 255, 0);
  transition: all 0.2s ease-in;
}
.paging-arrow:hover path {
  fill: #fff;
  transition: all 0.2s ease-out;
}

.paging-arrow:hover > circle {
  stroke: var(--color-primary);
  fill: var(--color-primary);
  transition: all 0.2s ease-out;
}

.paging-arrow:active > circle {
  stroke: var(--color-active);
  fill: var(--color-active);
  transition: all 0.2s ease-out;
}

.cursor-default{
  cursor: default;
}

.paging-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.paging-numbers > *:not(:first-child) {
  margin-left: 8px;
}
.paging-number {
  padding: 5px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: 500;
  width: 35px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  line-height: 22px;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.paging-number:hover {
  background-color: var(--color-primary);
  color: #fff;
  transition: all 0.2s ease-out;
}
.paging-number:active {
  background-color: var(--color-active);
  color: #fff;
  transition: all 50 ease-out;
}
.paging-number--active {
  background-color: var(--color-primary);
  color: #fff;
}

/* toast message add to cart */
#toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto; 
 
  background-color: var(--color-second);
  color: #fff;
  text-align: center;
  border-radius: 5px;

  position: fixed;
  z-index: 1;
  left: 0;right:0;
  bottom: 30px;
  font-size: 17px;
  white-space: nowrap;
}
#toast #img{
  width: 50px;
  height: 50px;
  
  float: left;
  
  padding-top: 13px;
  padding-bottom: 16px;
  
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;

  
  background-color: var(--color-primary);
}
.icon_toast{
  font-size: 30px;
}
#toast #desc{ 
  padding: 13px;
  
  overflow: hidden;
  white-space: nowrap;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}
#toast.show #desc{
  background: white;
  color: #333;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.2);
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
  from {min-width: 50px} 
  to {min-width: 350px}
}

@keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
}
@-webkit-keyframes stay {
  from {min-width: 350px} 
  to {min-width: 350px}
}

@keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
}
@-webkit-keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 60px; opacity: 0;}
}
/* end  message add to cart */
@media only screen and (max-width: 768px) {
  .title {
    font-size: 2.5rem;
    margin: 10px 0 40px 0;
  }
  .title::after {
    top: 140%;
  }
  /* slider */
  .slider {
    transition: all 0.5s ease-in-out;
  }
}