.detail{
    margin: 100px 0;
}

.detail__item-image{
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
    position: relative;

}
.detail__item-image img{
    width: 60%;
    border-radius: 10px;
}
.detail__item-image__circle{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #8eb4a5;
    border-radius: 50%;
    top: -6%;
    left: 11%;
    z-index: -10;
}

.detail__item-info__name{
    color: #7e4c4f;
    font-weight: 600;
    font-family: var(--font-be);
    font-size: 3rem;
    line-height: 5rem;
}
.detail__item-stars__items{
    display: flex;
    width: 50px;

}
.detail__item-stars__items img{
    width: 20px;
}
.detail__item-summary{
    width: 555px;
    line-height: 23px;
    height: 44px;

}
.detail__item__price{
    font-size: 28px;
    font-weight: 500;
    margin-top: 7rem;
}

/* info product */
.info__product_items{
    margin: 70px 0 40px 83px;
    display: flex;
    justify-content: center;
}

.info__product_item--button{
    display: flex;
}
.info__button{
    background-color: var(--color-primary);
    margin-right: 5px;
    border-radius: 6px 6px 0 0 ;
    font-size: 1.9rem;
    font-weight: 500;
    color: var(--color-background);
}
.info__button:hover{
    /* animation: changeColor ease-in 0.5s ; */
    background-color:#7e4c4f;
    cursor: pointer;
}
.info__button:active{
    background-color:#7e4c4f;
    cursor: pointer;

}

.info__button p{
    padding: 10px 25px ;
}

.info__product_item--content{
    border-radius: 0 6px 6px 6px;
    border: 1px solid rgba(161, 161, 161, 0.411);
    margin-left: 15px;
    padding: 30px 27px;
}
