.detail{
    margin: 100px 0;
}

.detail__item-image{
 display: flex;
 justify-content: center;
overflow: hidden;
/* padding: 15px 0; */
}
.detail__item-image img{
    width: 70%;
    /* border: 1px solid #846163; */
    /* box-shadow: 1px 2px 5px #846163; */
    border-radius: 10px;
}

.detail__item-info__name{
    color: #7e4c4f;
    font-weight: 600;
    font-family: var(--font-be);
    font-size: 3rem;
    line-height: 5rem;
}
.detail__item-stars__items{
display: flex;
width: 50px;

}
.detail__item-stars__items img{
    width: 20px;
}
.detail__item-summary{
    width: 555px;
    line-height: 23px;
    height: 71px;

    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;   /* dau ... */
}

/* amount */
.buttons_added {
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
}
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:2.2rem;
    width:1.9rem;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:4px 0 0 4px;
}
.is-form.plus {
    border-radius:0 4px 4px 0;
}
.input-qty {
    background-color:#fff;
    height:2.2rem;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}

/* info product */
.info__product_items{
    margin: 70px 0 40px 83px;
    display: flex;
    justify-content: center;
}

.info__product_item--button{
    display: flex;
}
.info__button{
    background-color: var(--color-primary);
    margin-right: 5px;
    border-radius: 6px 6px 0 0 ;
    font-size: 1.9rem;
    font-weight: 500;
    color: var(--color-background);
}
.info__button:hover{
    /* animation: changeColor ease-in 0.5s ; */
    background-color:#7e4c4f;
    cursor: pointer;
}
.info__button:active{
    background-color:#7e4c4f;
    cursor: pointer;

}
/* @keyframes changeColor {
    from{
    background-color: var(--color-primary);
    }
    to{
    background-color:#7e4c4f;

    }
} */
.info__button p{
    padding: 10px 25px ;
}

.info__product_item--content{
    border-radius: 0 6px 6px 6px;
    border: 1px solid rgba(161, 161, 161, 0.411);
    margin-left: 15px;
    padding: 30px 27px;
}
