/* BANNER */
.banner__product{
    position: relative;
    text-align: center;
    z-index: 40;
}
.banner__product img{
    height: 342px;
    z-index: 40;
}
.title__product{
    position: absolute;
    top: 33%;
    left: 41%;
    color: var(--color-background);
}
.title__category__product{
    font-size: 3.9rem;
    font-weight: 600;
    line-height: 6.5rem;
    /* color: #5a595c; */
    color: #534d6c;
}

.address__product{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6c5767;
}
.address__product span:hover{
    cursor: default;
  transition: all 0.2s ease-out;

}
.address__home{
    margin-right: 8px;
}
.address__home:hover{
    color: #f3904f;
  transition: all 0.2s ease-out;

}
.address__category__product{
    margin-left: 8px;
}
.address__category__product:hover{
    cursor: default;
  transition: all 0.2s ease-out;

}

/* products__type */
.products__type{
    /* margin: 80px 0;
    display: flex;
    margin: 80px 50px; */
    display: grid;
    grid-template-columns: 0.7fr 2fr;
    gap: 25px 20px;
    margin: 80px 50px;
}
.products__display--prices{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 18px 0;
    align-self: stretch;
}
.menu__products{
    display: flex;
    flex-direction: column;
    /* margin-right: 50px; */
}
.menu__products__title{
    /* background-color: var(--color-second); */
    background-color: var(--color-second);
    color: var(--color-background);

    font-family: var(--font-poppins);
    font-size: 2rem;
    line-height: 5rem;
    padding: 0 50px;

    border-radius: 26px;
}
.menu__products__items{
    padding: 5px 10px;
    font-size: 1.8rem;
    line-height: 4rem;
}
.menu__products__item{
    margin: 10px 0;
}
.menu__products__item:hover{
    color: var(--color-second);
  transition: all 0.2s ease-out;

}
.menu__products__item--active{
    color: var(--color-second);
  transition: all 0.2s ease-out;
}

/* products__display */
.products__display{
    display: flex;
    flex-direction: column;
}
.products__display--items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px 20px;
}
.products__display--item{
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    transition: all 0.3s ease-in;
    font-family: var(--font-poppins);
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.products__display--image{
    border-radius: 15px;
    width: 45%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.5s;
    padding: 14px 0;
}
.products__display--name{

    font-style: normal;
    line-height: 2.3rem;
    font-weight: 400;
    font-size: 1.8rem;
    
    margin: 12px 0 0 0;
}
.products__display--price{

    font-style: normal;
    font-weight: 600;
    font-size: 1.9rem;
}
.products__display--item:hover{
    /* box-shadow: 0 0 22px rgba(37, 37, 37, 0.267); */
    box-shadow: 0 0 4px 1px #aaaaaa;
    transition: all 0.3s ease-in;
}
.products__display--item:hover .products__display--image{
    transform: scale(1.1);
}