/* BANNER */
.banner__product {
    position: relative;
    text-align: center;
    z-index: 40;
}

.banner__product img {
    height: 342px;
    z-index: 40;
    border-radius: 40px;
}

.title__product {
    position: absolute;
    top: 33%;
    left: 41%;
    color: var(--color-background);
}

.title__category__product {
    font-size: 4rem;
    font-weight: 600;
    line-height: 6.5rem;
    /* color: #5a595c; */
    color: #534d6c;
}

.address__product {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6c5767;
}

.address__product span:hover {
    cursor: default;
    transition: all 0.3s ease-out;

}

.address__home {
    margin-right: 8px;
}

.address__home:hover {
    color: #f3904f;
    transition: all 0.3s ease-out;

}

.address__category__product {
    margin-left: 8px;
}

.address__category__product:hover {
    cursor: default;
    transition: all 0.3s ease-out;

}

/* products__type */
.products__type {
    /* display: grid;
    grid-template-columns: 0.7fr 2fr;
    gap: 25px 20px;
    margin: 80px 50px; */
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    gap: 25px 20px;
    margin: 80px 50px;
}

.products__display--prices {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 18px 0;
    align-self: stretch;
}

.menu__products {
    border-radius: 26px 26px 0 0;
}

.menu__products__title {
    background-color: var(--color-primary);
    color: #fff;

    font-family: var(--font-poppins);
    font-size: 2.1rem;
    line-height: 7rem;
    padding: 0 50px;
    margin: 0;
    border-radius: 26px 26px 0 0;
    /* border-bottom: 1px solid black; */

}

.menu__products__items {
    font-size: 1.8rem;
    border: 1.1px solid #cc2b46;

}

.menu__products__item:hover {
    background-color: var(--color-primary);
    color: #fff;
    transition: all 0.3s linear;


}

.menu__products__item {
    /* margin: 10px 38px; */
    padding: 10px 35px;
    font-weight: 500;
    color: #5e5d5d;
    transition: all 0.3s linear;
}

.menu__products__item--active {
    background-color: var(--color-primary);
    color: #fff;
    transition: all 0.3s ease-out;
}

.products__display--items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px 20px;
}

.products__display--item {
    /* border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    transition: all 0.3s linear;
    font-family: var(--font-poppins);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center; */
    /* border: 2px solid #f8f8f8;
    background-color: #f8f8f8e1; */

    border-radius: 15px;
    overflow: hidden;
    padding: 20px 2px;
    transition: all 0.3s ease-in;
    font-family: var(--font-poppins);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 250px;
    height: 280px;
}

.products__display--image {
    border-radius: 15px;
    width: 45%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.3s;
    padding: 14px 0;
}

.products__display--name {

    font-style: normal;
    line-height: 2.3rem;
    font-weight: 400;
    font-size: 1.8rem;
    width: 90%;
    margin: 12px 0 0 0;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.products__display--price {

    font-style: normal;
    font-weight: 600;
    font-size: 1.9rem;
}

.products__display--item:hover {
    /* box-shadow: 0 0 22px rgba(37, 37, 37, 0.267); */
    /* box-shadow: 0 0 4px 1px #aaaaaa; */
    box-shadow: 2px 2px 6px rgb(0 0 0 / 5%);
    background-color: #ffe7ec;
    transition: all 0.3s linear;
    cursor: pointer;
}

.products__display--item:hover .products__display--image {
    transform: scale(1.1);
}