.background{
    position: relative;
    margin-bottom: 100px;
}

.avatar__user{
    position: absolute;
    bottom: -70px;
    left: 69px;
}
.avatar__user--info{
    display: flex;
    align-items: center;
}
.avatar__user--image{
    border-radius: 5px;
    border: 7px solid white;
}
.avatar__user--image img{
    width: 150px; 
    height: 150px; 
    object-fit: cover;
}
.avatar__user--name{
    margin-left: 25px ;
    font-weight: 600;
    font-size: 2.7rem;
}

.bio-graph-info {
    color: var(--color-primary);
    font-weight: 600;

    padding: 30px 30px; 

    border-radius: 20px;
    box-shadow:0 0 5px rgb(44 44 44 / 50%) ;
}

.bio-graph-info input, textarea{
    margin-bottom: 15px ;
    border-radius: 10px;
    border: none;
    outline: none;

    width: 84%;
    padding: 18px 22px;

    background-color: rgba(197, 195, 195, 0.849);
}


.bio-graph-info h2 {
    font-size: 23px;
    margin: 0 0 35px;
}
.layout{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-gap: 15px 20px;
    /* align-items: center; */
}


.order__list{
    margin-bottom: 15px;
    background-color: white;

}
.order__list--info{
    display: grid;
    grid-template-columns: 0.4fr 0.5fr 0fr;
    grid-gap: 15px 11px;
}
.order__list--state{
    padding-bottom: 10px;
    margin-left: 516px;
}
.order__list--image{
    width: 130px;
    height: 130px;
    margin-left: 50px;
}
.edit__avatar{
    position: absolute;
    bottom: 16%;
    right: 49%;
    border: 2px solid #324258;
    border-radius: 50px;
    padding: 4px;
    font-size: 19px;
}
.edit__avatar:hover{
    cursor: pointer;
}
.order__lists{
    height: 440px;
    overflow: scroll;
}

